<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
  <div id="shop">
    <ul>
      <!-- директива указывается там, где хочу, чтоб элемент повторялся -->
      <!-- number и number должны совпадать -->
      <!-- вывод индекса массива со значением из массива list -->
      <!-- здесь выводится обычный массив -->
      <!-- list это свойство в data -->
      <li v-for="(number, index) in list">
        {{index + 1}}: {{number}}
      </li> 
    </ul>

    <!-- здесь выводится массив объектов -->
    <ul>
      <!-- items это свойство в data -->
      <!-- title это произвольное название -->
      <!-- здесь цикл fot...in -->
      <li v-for="title in items">
        <!-- вывод id из массива items -->
        <!-- и вывод name из массива items -->
        {{title.id}}: {{title.name}}
      </li>
    </ul>
  </div>
  

  <script>
    let app = new Vue({
      el: '#shop',
      data: {
        list: ['one', 'two', 'three', 'four', 'five'],// свойство, содержащее массив
        items: [ // здесь массив объектов
          {id: 1, name: 'bread'}, // ключ - значение
          {id: 2, name: 'pork'},
          {id: 3, name: 'rice'},
          {id: 4, name: 'carrot'},
          {id: 5, name: 'vegetable oil'}
        ]
      },
      methods: {
        nameFunction(param1, param2){
          // some code
        }
      },
      anotherFunc: function(){
        alert('anotherFunc');
      }
    })
  </script>
</body>
</html>